h1.page-header Lengaburu Playground!

p
  ' Here are some example links to solutions to the four <em>problems</em>. Change <em>variables</em> (where available)
  | for different results.

h2.page-header Problem 1: Find people with given relation

ul
  li
    | /person/<strong>name</strong>/<strong>relation</strong>
  li
    a href='/person/anga/granddaughters'
      | /person/anga/granddaugthers
  li
    a href='/person/satvy/maternal_uncles'
      | /person/satvy/maternal_uncles
  li
    a href='/person/vyan/brothers_in_law'
      | /person/vyan/brothers_in_law

h2.page-header Problem 2: A new child

p
  ' I haven't bothered exposing an API for this - doesn't make sense to expose a data-modifying end-point without
  ' appropriate security checks, and that would be overkill for a demo. However, you can access this functionality
  | via model code:

pre
  | Person.birth! 'irah', Person::SEX_MALE, 'janki'

h2.page-header Problem 3: Mother with most girl children.

p
  span.label.label-info Note!
  |  You'll have to add a girl-child birth to change the result of the following route.

ul
  li
    a href='/mothers_with_most_girl_children'
      | /mothers_with_most_girl_children

h2.page-header Problem 4: Find relation between two people

ul
  li
    | /person/<strong>name</strong>/relation_to/<strong>relation_name</strong>
  li
    a href='/person/shan/relation_to/shan'
      | /person/shan/relation_to/shan
  li
    a href='/person/shan/relation_to/anga'
      | /person/shan/relation_to/anga
  li
    a href='/person/drita/relation_to/vich'
      | /person/drita/relation_to/vich
  li
    a href='/person/jata/relation_to/misa'
      | /person/jata/relation_to/misa
